/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/meripseqpipe -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'stress'
  config_profile_description = 'Dominissini'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 15
  max_memory = 60.GB
  max_time = 48.h

  // Input data
  // TODO nf-core: Specify the paths to your test data on meripseqpipe/test_data
  // TODO nf-core: Give any required params for the test so that command line flags are not needed
  single_end = true
  aligners = 'star'
  star_index = 'index/star/'
  genome = 'GRCh37'
  peakCalling_mode = 'independence'
  peakMerged_mode = 'rank'
  skip_meyer = true
  expression_analysis_mode = 'edgeR'
  methylation_analysis_mode = 'Wilcox-test'
  comparefile = 'compare.txt'
  designfile = 'design.csv'
  fasta = 'meripseqpipe/test_data/genome_dir/Homo_sapiens.NCBI36.54.dna.toplevel.fa'
  gtf = 'meripseqpipe/test_data/genome_dir/Homo_sapiens.NCBI36.54.gtf'
  gzip = false
    readPaths = [
    ['UT.input',['meripseqpipe/test_data/samples/UT_Input.fastq']],
    ['UT.ip',['meripseqpipe/test_data/samples/UT_IP.fastq']],
    ['UV.input',['meripseqpipe/test_data/samples/HepG2_UV_Input.fastq']],
    ['UV.ip',['meripseqpipe/test_data/samples/HepG2_UV_IP.fastq']],
    ['HS.input',['meripseqpipe/test_data/samples/HepG2_HS_Input.fastq']],
    ['HS.ip',['meripseqpipe/test_data/samples/HepG2_HS_IP.fastq']],
    ['HGF.input',['meripseqpipe/test_data/samples/HepG2_HGF_Input.fastq']],
    ['HGF.ip',['meripseqpipe/test_data/samples/HepG2_HGF_IP.fastq']],
    ['IFN.input',['meripseqpipe/test_data/samples/HepG2_IFN_Input.fastq']],
    ['IFN.ip',['meripseqpipe/test_data/samples/HepG2_IFN_IP.fastq']],
    ['MLiv.input',['meripseqpipe/test_data/samples/Mouse_Liver_Input.fastq']],
    ['MLiv.ip',['meripseqpipe/test_data/samples/Mouse_Liver_IP.fastq']],
    ['HBrain.input',['meripseqpipe/test_data/samples/Human_Brain_Input.fastq']],
    ['HBrain.ip',['meripseqpipe/test_data/samples/Human_Brain_IP.fastq']]
  ]
}
